{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/wingrade.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/wingrade.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/wingrade.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/accounts/accounts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/accounts/services/account.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/accounts/controllers/account.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/accounts/controllers/account-settings.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/vdi-home.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/vdis/vdis.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vdis/services/vdis.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vdis/directives/vdis.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vdis/directives/vdi.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vdis/controllers/vdis.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vdis/controllers/new-vdi.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/vcenters/vcenters.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vcenters/services/vcenters.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vcenters/directives/vcenters.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vcenters/directives/vcenter.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vcenters/controllers/vcenters.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vcenters/controllers/new-vcenter.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vcenters/controllers/edit-vcenter.controller.js' %}"></script>

{% endcompress %}
